VITE_SUPABASE_PROJECT_ID="udpneygpvxwosvsmzknc"
VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkcG5leWdwdnh3b3N2c216a25jIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE3NjI0NTEsImV4cCI6MjA4NzMzODQ1MX0.M29TJeRcLsjdDhBykY7wXzd2Fnc6uE1xOk36exnoAjc"
VITE_SUPABASE_URL="https://udpneygpvxwosvsmzknc.supabase.co"
VITE_BASE_PATH="/"